<ul class="sharing">
  <li><a class="sharing__button sharing__button--facebook" href=""><span class="visually-hidden">Share on facebook</span></a></li>
  <li><a class="sharing__button sharing__button--twitter" href="https://twitter.com/share" target="_blank"><span class="visually-hidden">Share on twitter</span></a></li>
  <li><a class="sharing__button sharing__button--pinterest" href=""><span class="visually-hidden">Share on pinterest</span></a></li>
  <li><a class="sharing__button sharing__button--google" href=""><span class="visually-hidden">Share on Google plus</span></a></li>
  <li><a class="sharing__button sharing__button--other" href="javascript:window.print()"><span class="visually-hidden">Print this</span></a></li>
  <li><a class="sharing__button sharing__button--other" href="javascript:emailCurrentPage()"><span class="visually-hidden">Share this by email</span></a></li>
</ul>
