.sharing {
  @extend .unstyled-list;
  overflow: hidden;
  margin: baseline-unit(2) 0;

  @include respond-to($mq-m) {
    position: fixed;
    top: 300px;
    right: 0;
  }

  > li {
    float: left;
    margin-bottom: 0;

      @include respond-to($mq-m) {
        float: none;
      }
    }
}

.sharing__button {
  display: block;
  width: 44px;
  height: 44px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.sharing__button--facebook {
  background: $facebook-blue asset-url('sharing/facebook.svg') 0 0 no-repeat;
  .ie & {
    background: $facebook-blue asset-url('sharing/sharing-sprite.png') 0 0 no-repeat;
  }
}

.sharing__button--twitter {
  background: $twitter-blue asset-url('sharing/twitter.svg') 0 0 no-repeat;
  .ie & {
    background: $twitter-blue asset-url('sharing/sharing-sprite.png') -44px 0px no-repeat;
  }
}

.sharing__button--google {
  background: $burnt-sienna asset-url('sharing/google-plus.svg') 0 0 no-repeat;
  .ie & {
    background: $burnt-sienna asset-url('sharing/sharing-sprite.png') -88px 0 no-repeat;
  }
}

.sharing__button--pinterest {
  background: $pinterest-red asset-url('sharing/pinterest.svg') 0 0 no-repeat;
  .ie & {
    background: $pinterest-red asset-url('sharing/sharing-sprite.png') -132px 0 no-repeat;
  }
}

.sharing__button--email {
  background: $sirocco asset-url('sharing/email.svg') 0 0 no-repeat;
  .ie & {
    background: $sirocco asset-url('sharing/sharing-sprite.png') -176px 0 no-repeat;
  }
}

.sharing__button--print {
  background: $sirocco asset-url('sharing/print.svg') 0 0 no-repeat;
  .ie & {
    background: $sirocco asset-url('sharing/sharing-sprite.png') -220px 0 no-repeat;
  }
}
